:root {
    --dark: #1e1e1e;
    --yellow: #ffefd1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Inter", serif;
    width: 100%;
}

#root {
    padding: 0 5rem;
}

nav {
    margin: 1rem 0;
}

#navInnerDiv {
    display: flex;
    justify-content: flex-end;
}

.navlink {
    font-family: "Space Mono", serif;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--dark);
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
}

.navlink:hover {
    background-color: var(--yellow);
    border-radius: 8px;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        ". b"
        "a b";
    column-gap: 10px;
}

#landingHeading {
    grid-area: a;
}

#landingCurrent {
    grid-area: b;
}

#landingCurrentCards {
    display: flex;
}

.tag {
    font-family: "Space Mono", serif;
    text-transform: uppercase;
}
