:root,
html[data-theme="light"] {
    --bg: #fff;
    --font: #252424;
    --shadow: #2524241c;
    --accent: #fc6b03;
    --accent-light: #fc6b0315;
    --tech-tags: #f9c19a;
}

html[data-theme="dark"] {
    --bg: #252424;
    --font: #faf9f6;
    --shadow: #faf9f62d;
    --accent: #03fce7;
    --tech-tags: #70aab5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg);
}

body {
    padding: 2rem 15rem;
}

.icon {
    cursor: pointer;
    display: flex;
}

/* Navigation */

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

a {
    color: var(--font);
    font-style: italic;
}

a:hover {
    color: var(--accent);
}

h1,
div {
    color: var(--font);
}

section {
    margin-top: 8rem;
    height: 80%;
}

h1 {
    margin-top: 2rem;
    font-size: 2.25em;
    margin-bottom: 2rem;
}

body,
h1,
div,
a {
    transition: all ease-in-out 0.1s;
}

#project-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

h3 {
    font-size: 1.3em;
}

.project {
    box-shadow: 0px 2px 18px 2px var(--shadow);
    border-radius: 8px;
    padding: 2rem;
    width: 45%;
}

.project:hover {
    cursor: pointer;
}

.project-tech-container {
    margin: 1rem 0 2rem 0;
    display: flex;
    gap: 1rem;
}

.project-tech-tag {
    padding: 0.5rem;
    background-color: var(--tech-tags);
    width: fit-content;
    border-radius: 5px;
}

footer {
    height: 3rem;
    width: 100%;
}

footer > div {
    margin-top: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

footer > div > span {
    font-style: italic;
}
