:root {
    --bg: #252424;
    --bg-lighter: #333232;
    --font: #fff;
    --accent: #fc6b03;
    --tech-tags: #f9c19a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: var(--bg);
    color: var(--font);
    scroll-behavior: smooth;
}

section {
    padding: 5rem 10rem;
}

/* Navigation */

nav {
    padding: 1rem 10rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    position: fixed;
    width: 100%;
    top: 0;

    backdrop-filter: blur(5px);
    background-color: var(--font);
}

a {
    color: var(--bg);
    font-style: italic;
}

a:hover {
    color: var(--accent);
}

h1,
div {
    color: var(--font);
}

h1 {
    margin-top: 2rem;
    font-size: 2.25em;
    margin-bottom: 1.5rem;
    font-family: "Playfair Display", serif;
}

#hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--font) url("./assets/hero_ellipse.png") no-repeat center;
}

#hero > h1 {
    color: var(--bg);
}

svg {
    position: absolute;
}

#about {
    display: flex;
    gap: 1rem;
}

.about-column {
    flex: 1;
}

ul {
    line-height: 1.4;
}

li {
    list-style-position: inside;
}

body,
h1,
div,
a {
    transition: all ease-in-out 0.1s;
}

#project-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
}

.project {
    background-color: var(--bg-lighter);
    padding: 2rem;
    /* width: 45%; */
    flex: 1;
}

.project:hover {
    cursor: pointer;
}

.project-tech-container {
    margin: 1rem 0 2rem 0;
    display: flex;
    gap: 1rem;
}

.project-tech-tag {
    padding: 0.5rem;
    background-color: var(--tech-tags);
    color: var(--bg-lighter);
    width: fit-content;
    border-radius: 5px;
}

footer {
    height: 3rem;
    width: 100%;
}

footer > div {
    margin-top: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

footer > div > span {
    font-style: italic;
}
