:root {
    --dark: #1e1e1e;
    --dark-lighter: #909090;
    --box-shadow: #1e1e1e27;
    --light: #fff;
    --accent: #fc6b03;
    --default-tag: #f9c19a;
    --purple: #f5dfff;
    --blue: #d1f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: var(--font);
    scroll-behavior: smooth;
    padding: 0 12vw;
    line-height: 175%;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-size: 1.1em;
}

h1 {
    margin-top: 2rem;
    font-size: 2.25em;
    margin-bottom: 1.5rem;
    font-family: "Playfair Display", serif;
}

#root {
    position: relative; /* so that nav can be positioned relative to this */
}

/* Hero */
#hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

/* Navigation */
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    position: absolute;
    right: 0;

    backdrop-filter: blur(5px);
    margin-top: 2rem;
}

a {
    color: var(--bg);
    font-style: italic;
}

a:hover {
    color: var(--accent);
}

/* General */
li {
    list-style-position: inside;
}

.tag {
    width: fit-content;
    padding: 0 1rem;
}

.tag-default {
    background-color: var(--default-tag);
}

.tag-blue {
    background-color: var(--blue);
}

.tag-purple {
    background-color: var(--purple);
}

/* Accordion */
.accordion-container {
    padding: 1rem;
    box-shadow: 5px 10px 100px var(--box-shadow);
}

.accordion-visible {
    display: flex;
    gap: 2rem;
}

.accordion-visible div:last-child {
    color: var(--dark-lighter);
    margin-left: auto;
}

/* Footer */
footer {
    margin-top: 5rem;
    width: 100%;
}

footer > div {
    margin-top: 0.5rem;
    font-style: italic;
}
